*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}
h1{
    margin-bottom: 10px;
}
.timer{
    font-size: 3em;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn{
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: darkblue;
}
#pauseButton,#resumeButton{
display: none;
}